.Chat-main
  .Chat-main__group-info
    .Group-name
      = @group.name
      %ul.member-list
        Member :
        - @group.users.each do |user|
          %li.Member-name= user.name
    .right-box
      = link_to edit_group_path(@group), class: "edit-btn" do
        Edit
  .Chat-main__MessageField
    .MessageBox
      .MessageInfo
        .MessageInfo__userName
        .MessageInfo__date
      .Message
        %p.Message__content
      = render @messages
  .Chat-main__message-form
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .form-contents
        = f.text_field :content, class: 'form-content', placeholder: 'type a message'
        = f.label :image, class: 'input-label' do
          = icon('far', 'image', class: 'input-box__image')
          = f.file_field :image, class: 'file-form'
      = f.submit 'Send', class: 'form-btn'
