.Side-bar
  .Side-bar__head-menu
    .top-items
      %h3.top-items--name 
        = current_user.name
      %ul.icons-list
        %li
          = link_to new_group_path, class: "btn-edit" do
            =icon('fas', 'edit')
        %li
          = link_to edit_user_path(current_user), class: "btn-cog" do
            =icon('fas', 'cog')
  .Side-bar__group-list
    -current_user.groups.each do |group|
      = link_to edit_group_path(group), class: "group-logo" do
        = group.name
        %p.group-message まだメッセージがありません